h1{
    color: rgb(252, 5, 169);
    font-family: "Sorts Mill Goudy";
    font-size: 70px;
    margin-left: 2rem;
    text-align: center;


}
p{
    color: #e20cc2;
    font-family: "Literata";
    font-size: 40px;
    margin-left: 2rem;
    text-align: center;
}

<<<<<<< HEAD
button{
    padding: 10px 20px;
    background-color: #8998ee;
    color:rgb(225, 238, 250);
    border:none;
    border-radius:5px;
    cursor: pointer;
}
=======
button {
    padding: 40px 50px;
    font-size: 40px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0rem;
  }

>>>>>>> e5015cfe591738625a442204f15706cbbdb4b549

p{
    font-family: "Winky Rough";
    color : #402e18;
    margin-left: 3rem;

}
img{
    height: 500px;
    border-radius: 10% ;

}
body{

    background-color: #e8dbb7;
    padding: 1rem 6rem;


}

hr{ 
    border: 0;
    height: 0.5px;
    background: rgb(35, 52, 183);
    margin-top:3rem;
}

html{
    scroll-behavior: smooth;
}